h1 {
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 0;
    font-family: 'Acumin Variable Concept', sans-serif;
    text-align: center;
    z-index: 1000;
    color: black; /* Make the header text visible */
}
h2 {
    font-size: 1.1rem;
    font-family: 'Acumin Variable Concept', sans-serif;
    text-align: center;
    color: black; 
    font-weight: medium;
    line-height: 0.6;
}
#feedback-genre, #feedback-year {
    font-family: 'Acumin Variable Concept', sans-serif;
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

#quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

#movie-info img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

#choices {
    margin-top: 20px;
    display: grid;
    flex-wrap: wrap;
}

.blurred-image {
    filter: blur(20px);
}

button {
    padding: 10px 70px;
    margin: 5px;
    font-family: 'Acumin Variable Concept', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px; 
    border: 1.5px solid rgb(234, 234, 234);
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px; /* Adjust this value as needed */
}


button:hover {
    background-color: #e3e3e3; /* Light gray background on hover */
}
