/* Dark Mode */
body.dark-mode {
    background-color: #121212;
}
body.dark-mode h1, body.dark-mode h2, body.dark-mode p, body.dark-mode button, body.dark-mode .stats-container p {
    color: #e1e1e1;
}
body.dark-mode #feedback-year, body.dark-mode #feedback-genre{
    color: #828282;
}
body.dark-mode button {
    background-color: #2d2d2d;
    border: 1.5px solid #434343;
}
body.dark-mode button:hover {
    background-color: #5e5e5e;
}

/* Body */
body {
    overflow: auto; 
}
body::-webkit-scrollbar {
    width: 5px; 
}
body::-webkit-scrollbar-thumb {
    background-color: #888; /* Set color of the scrollbar */
    border-radius: 10px; /* Round the scrollbar thumb */
}
body::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker thumb color on hover */
}

/* Paragraph Styles */
header {
    position: relative;
}
h1 {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: -1px;
    margin-top: 20px;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    z-index: 1000;
    color: black; 
    z-index: 1004;
}
h2 {
    margin-top: 8px;
    font-weight: 700;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: black; 
    font-weight: medium;
    line-height: 0.2;
}
h1, h2 {
    text-align: center;
}
P {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    margin: 0;
}

#feedback-genre, #feedback-year {
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #a0a0a0;
}

.option {
    position: absolute;
    right: 15%; 
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 5px;
    cursor: pointer;
}
#dark-mode-toggle{
    position: absolute;
    width: 110px;
    font-size: 0.8rem;
}


#quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

#movie-info img {
    width: 100%;
    max-width: 500px;
    height: auto;
}
#movie-info {
    position: relative; 
    padding: 20px;
    z-index: -2;
}
#overlay {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); 
    backdrop-filter: blur(0px); 
    z-index: -1; 
}

#choices {
    margin-top: 20px;
    display: grid;
    flex-wrap: wrap;
}


button {
    padding: 10px 70px;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px; 
    border: 1.5px solid rgb(234, 234, 234);
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px; 
}
button:hover {
    background-color: #e3e3e3; 
}


.stats-container {
    margin-top: 50px;
    margin-bottom: 100px;
}
.stats-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
}
.stats-container p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    line-height: 1.5;
}